---
layout: default
title: My Blog
---
Blog here
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}

<a href="{{post.url}}">
    <img style='height: 100%; width: 100%; object-fit: contain' src="{{ post.image }}"/>
</a>

<h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
<p class="author">
    <span class="date">{{ post.date | date_to_long_string }}</span>
</p>

<div class="content">
    {{ post.description }}
    <a href="{{ post.url }}">Keep reading</a>
</div>

<br/>
<br/>

{% endfor %}

<!-- Pagination links -->
<div style="text-align: right;">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
        Previous
    </a>
    {% else %}
    <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">
    {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
    <span class="next ">Next</span>
    {% endif %}
</div>